/* 定义自定义字体 */
@font-face {
    font-family: 'Andy Bold';
    src: url('Andy Bold.ttf') format('truetype');
    /* 如果有其他格式的字体文件，如 .woff，可以添加更多 src */
    /* src: url('fonts/AndyBold.woff') format('woff'); */
}

/* 应用自定义字体到整个页面 */
body {
    font-family: 'Andy Bold', sans-serif;
    background-color: #F8F7EA; /* 复古红色背景 */
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-size: 16px; /* 根据需要调整字体大小 */
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-size: 3em;
    margin: 0;
}

nav {
    background-color: #8B0000;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #FFFFFF;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    margin: 20px 0;
}

.about, .portfolio {
    background-color: #800000;
    padding: 20px;
    border-radius: 10px;
}

.blog-post {
    background-color: #B22222;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* .geometry-decor {
    background-image: url('geometric-pattern.png'); 
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
 */
