/* 定义自定义字体 */
@font-face {
    font-family: 'Andy Bold';
    src: url('fonts/AndyBold.ttf') format('truetype');
}

body {
    background-color: #6B8E23; /* 深绿色背景 */
    color: #FFFFFF;
    font-family: 'Andy Bold', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px; /* 根据需要调整字体大小 */
    position: relative;
    overflow: hidden;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-size: 3em;
    margin: 0;
}

nav {
    background-color: #556B2F;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #FFFFFF;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    margin: 20px 0;
}

.about, .portfolio {
    background-color: #3A5F0B; /* 更深的绿色背景 */
    padding: 20px;
    border-radius: 10px;
}

.blog-post {
    background-color: #6B8E23;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.ripple, .dot {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3); /* 白色半透明 */
    pointer-events: none;
}
